<div class = "bookId">
   
    <h2>{{book.titulo}}</h2>
    <p>Esse livro tem {{book.pagina}} páginas</p>
    <a href = "/books">Voltar</a>
    <div class = 'editar'>
        <a href = "/books/edit/{{book.idbooks}}">Editar</a>
    </div>

</div>