<link rel="stylesheet" href="/css/form.css">
<h1>Edição de livros</h1>

<form action='/books/update' method="post">
    <div>
        <input type = "hidden" name = "idbooks" value = {{book.idbooks}}>
        <label for="name">Nome:</label>
        <input type="text" name="titulo"  id="name"  placeholder="Digite o nome do livro" value = {{book.titulo}}>
    </div>
    <div>
        <label for="pagina">Páginas:</label>
        <input type="number" name="pagina" id="pagina"  placeholder="Quantas páginas o livro possui?" value = {{book.pagina}}>
    </div>
    <div>
        <input type="submit" value="Editar">
    </div>
</form>