<link rel="stylesheet" href="/css/form.css">
<h1>Cadastramento de livros</h1>

<form action="/book/cadastro" method="post">
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="titulo"  id="name" autocomplete="none" placeholder="Digite o nome do livro">
    </div>
    <div>
        <label for="pagina">Páginas:</label>
        <input type="number" name="pagina" id="pagina" autocomplete="none" placeholder="Quantas páginas o livro possui?">
    </div>
    <div>
        <input type="submit" value="Cadastrar">
    </div>
</form>