<link rel="stylesheet" href="/css/form.css">
<h1>Lista de livros</h1>

<form action="/book/cadastrado" method="post">
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="titulo"  id="name" placeholder="Digite o nome do livro" >
    </div>
    <div>
        <label for="pagina">Páginas:</label>
        <input type="number" name="pagina" id="pagina" placeholder="Quantas páginas o livro possui?">
    </div>
    <div>
        <input type="submit" value="Cadastrar">
    </div>
</form>