<h1>Página home</h1>
<h2>Bebidas</h2>
<ul>
    {{#each db}}
   <li>
    <div>
        <a href="/produto/{{this.id}}"><img src={{this.img}} ></a>
    </div>
    </li>
   {{/each}}
</ul>
   
   
   



