   

<section class="container">
     {{#if errors.length}}
        <div class="alert alert-danger message-erro">
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}

    <div class="row">
        <div class="grid-4 disappear"></div>

        <div class="grid-4 card-form">
            <h3 class="text-gradient">Login</h3>
            <form action="/user/login" method="post" class="mt-3">
                <div>
                    <label for="email">E-mail:</label>
                    <input type="email" name="email"  id="email"  class="mt-1">
                </div>

                <div class="mt-2">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" class="mt-1">
                </div>

              <div class="mt-4">
                    <input type="submit" value="Login" class="link">
                </div>

                 <p>Não tem conta? <a href="/user/cadastrar" style="color: black;">Clique aqui</a></p>
            </form>
        </div>

        <div class="grid-4 disappear"></div>
        
    </div>
</section>
<script src="../js/errorLogin.js"></script>
