*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    
}

#navbar{
    display:flex;
    justify-content:center;
    
}
#navbar li{
    padding:1em;
}
h1,h2{
    text-align: center;
    padding: .5em;
}

ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
   
   
}
div img{
    width: 200px;
    height: 200px;
    border: 1px  solid #000;
    margin: 0 0.5em;
   
}
.book,.link,.bookId{
    text-align: center;
    margin: 0 auto;
    padding: .5em;
 }
.bookId p{
    margin:.5em
}







