//Colors of the project

//Branding colors
$primary-normal: #259D80;
$primary-light: #6CE0C4;
$primary-dark: #04634D;

$secondary-normal: #41D1AE;
$secondary-light: #88FCE1;
$secondary-dark: #0A8C6D;

//Base colors

$white-normal: #E6F5F2;
$white-light: #F2FAF8;
$white-dark: #D5E8E4;

$black-normal: #141615;
$black-light: #1E2120;
$black-dark: #0D0F0E;

//Auxiliary-colors

$red: #DB2C2C;
$green: #13BF80;
$red: #E5CB49;

//Grey scale

$gray-1: #2B2B2C;
$gray-2: #424344;
$gray-3: #595A5C;
$gray-4: #717274;
$gray-5: #888A8C;
$gray-6: #9EA0A3;

.color-white{
    color: $white-normal;
}

.color-white-dark{
    color: $white-dark;
}

.primary-green{
    color: $primary-normal;
}