footer{
    background: linear-gradient(226.93deg, #259D80 14.9%, #04634D 85.41%);
}

.footer-menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-menu-item{
    margin-right: $gap-3;
}

.footer-menu-link{
    display: inline-block;
    padding: 16px 16px 16px 16px;
    position: relative;
    @include typeface-1(h6, desktop);

    @include responsive(s){
        @include typeface-1(h6, mobile);
    }

    &:hover{
        padding: 8px 16px 16px 16px;
    }
}


// Veriicar espaçamentos do footer para deixar mais fiel ao figma