header{
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 999;
    background-color: $secondary-dark;
}

.logo{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-svg{
    width: 48px;
    height: 48px;
}
.navbar-desktop{
    max-width: $container-l;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 24px;
}

.nav-item-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-desktop{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include responsive(s){
        display: none;
    }
}

.menu-item-desktop{
    position: relative;
    margin-left: $gap-4;
}

.menu-desktop-link{
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    @include typeface-1(h6, desktop);

    @include responsive(s){
        @include typeface-1(h6, mobile);
    }

    &::after{
        content: '';
        position: absolute;
        top: 80%;
        right: 50%;
        width: 0;
        height: 2px;
        opacity: 0;
        border-radius: 1px;
        background-color: $white-light;
        transition: .5s ease;
    }
    &::before{
        content: '';
        position: absolute;
        top: 80%;
        left: 50%;
        width: 0;
        height: 2px;
        opacity: 0;
        border: 0;
        border-radius: 1px;
        background-color: $white-light;
        transition: .5s ease;
    }

    &:hover{
        &::after{
            opacity: 1;
            width: 50%;
        }
        &::before{
            opacity: 1;
            width: 50%;
        }
    }
}

