header{
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 999;
    background-color: $primary-dark;
}

.logo{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-svg{
    width: 48px;
    height: 48px;
}

.navbar-desktop{
    max-width: $container-l;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 24px;
}

.nav-item-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-desktop{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include responsive(s){
        display: none;
    }
}

.menu-item-desktop{
    border: 1px solid red;
    position: relative;
    margin-left: $gap-4;
}

.menu-desktop-link{
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    @include typeface-1(h6, desktop);

    @include responsive(s){
        @include typeface-1(h6, mobile);
    }

    &::after{
        content: '';
        position: absolute;
        top: 80%;
        right: 50%;
        width: 0;
        height: 2px;
        opacity: 0;
        border-radius: 1px;
        background-color: $white-light;
        transition: .5s ease;
    }
    &::before{
        content: '';
        position: absolute;
        top: 80%;
        left: 50%;
        width: 0;
        height: 2px;
        opacity: 0;
        border: 0;
        border-radius: 1px;
        background-color: $white-light;
        transition: .5s ease;
    }

    &:hover{
        &::after{
            opacity: 1;
            width: 50%;
        }
        &::before{
            opacity: 1;
            width: 50%;
        }
    }
}

.btn-login{
    display: inline-block;
    padding: 10px 16px;
    border: 0;
    border-radius: 8px;
    background: $secondary-dark;
    transition: .5s ease;

    &:hover{
        opacity: .7;
    }
}

.profile-img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.profile{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    transition: .5s ease;

    &::after{
        content: '';
        width: 8px;
        height: 8px;
        border-right: 2px solid $secondary-normal;
        border-bottom: 2px solid $secondary-normal;
        border-radius: 1px;
        position: absolute;
        top: 42%;
        right: -16px;
        transform: rotate(45deg) translate3d(0px, 0px, 0px);
        transition: .5s ease;
    }

    &:hover{
        opacity: .9;
        &::after{
            top: 50%;
        }
    }
}

.dropdown-menu{
    width: 200px;
    list-style: none;
    position: absolute;
    top: 52px;
    left: 24px;
    background-color: $primary-dark;
    padding: 16px 24px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    transition: .5s ease;
}

.dropdown-item{
    width: 100%;
}

.dropdown-link{
    width: 100%;
    display: inline-block;
    padding: 8px 16px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 90%;
        left: 8px;
        width: 0%;
        height: 2px;
        background-color: $secondary-normal;
        transition: .5s ease;
    }

    &:hover{
        &::after{
            width: 90%;
        }
    }
}